.logo
{
    height: 70px;
    width: 400px;
}
.ayrac
{
    font-size: 20px;
    margin: 0px 20px;
    color: white;
}
.nav-bg
{
    background-color: rgb(122, 122, 122,0.356);
}
.ust-kisim
{
    background-image: url(İmages/ada2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.nav-item a
{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.nav-item a:hover
{
    color:#f4b70b;
}
.bosluk
{
    margin-top: 100px;
}
.fotos
{
    background-color: #f4b70b;
}
.aram
{
    height: 200px;
    width: 200px;
}
.anasayfabaslik
{
    color: red;
    text-shadow: skyblue;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tarihcefoto
{
    height: 600px;
    width: 700px;
    margin-top: 70px;
}
hr{
    color: red;
    font-size: xx-large;
    font-weight: 300;
}
.logolar
{
    height: 400px;
    width: 400px;
  
}
.blog-alt-kisim
{
    width: 400px;
}

